# Visual Studio 캐시/임시
.vs/
*.ipch
*.pdb
*.obj

# 빌드 산출물
Binaries/
Intermediate/
Saved/
DerivedDataCache/
*.exe
*.dll
*.ucas
*.utoc
*.pak

# 파이썬 캐시
__pycache__/
*.pyc
.ipynb_checkpoints/

# 가상환경
venv/
.venv/
env/

# 대용량 강화학습 결과물 폴더 제외
artifacts/
records/